body {
  font-family: 'Open Sans', sans-serif;
}

.chat, .action {
  padding: 15px;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 7px 0;
}

time {
  font-weight: 300;
  display: block;
}

.chat .author {
  display: block;
}
.chat .author:after {
  content: ':';
}
.author {
  font-weight: 600;
}

.em {
  width: 20px;
  height: 20px;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
