body {
  font-family: 'Open Sans', sans-serif;
  background: #eee;
}

.chat, .action {
  margin: .5em auto;
  background: white;
  max-width: 34em;
}

.chat:before,
.action:before,
.chat:after,
.action:after {
    content:"";
    display:table;
}
.chat:after,
.action:after {
    clear:both;
}

time {
  font-weight: 300;
  display: block;
}

.chat .author {
  display: block;
}
.chat .author:after {
  content: ':';
}
.author {
  font-weight: 600;
}

.action {
  color: #555;
}

.em {
  width: 20px;
  height: 20px;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.meta {
  width: 5em;
  float: left;
  color: #888;
  padding: 1em;
  height: 100%;
}

p {
  padding: 1em;
  width: 25em;
  max-width: 100%;
  float: left;
  margin: 0;
}

h1 {
  text-align: center;
  margin: 1em 0;
  font-weight: 300;
}
